<input type="password" [(ngModel)]="password" (input)="checkPasswordStrength()" class="password-input" placeholder="Введіть пароль">

<div *ngIf="password !== ''">
  <div [ngStyle]="{'background-color': passwordStrength === 'weak' ? 'red' : 'gray'}">Слабкий</div>
  <div [ngStyle]="{'background-color': passwordStrength === 'medium' ? 'yellow' : 'gray'}">Середній</div>
  <div [ngStyle]="{'background-color': passwordStrength === 'strong' ? 'green' : 'gray'}">Міцний</div>
</div>
<div *ngIf="password === ''">
  <div [ngStyle]="{'background-color': 'gray'}">Слабкий</div>
  <div [ngStyle]="{'background-color': 'gray'}">Середній</div>
  <div [ngStyle]="{'background-color': 'gray'}">Міцний</div>
</div>
