div {
  padding: 10px; 
  margin: 0px;
  color: white;
  text-align: center;
  border: 1px solid #ccc;
}


  div[data-strength="weak"] {
    background-color: red;
  }
  
  div[data-strength="medium"] {
    background-color: yellow;
  }
  
  div[data-strength="strong"] {
    background-color: green;
  }
  
  input[type="password"] {
    width: 100%; 
    padding: 10px 0;
    margin: 10px 0;    
  }